<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>基线检查</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/xadmin.css">
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js"></script>
        <script src="https://cdn.bootcss.com/echarts/3.3.2/echarts.min.js" charset="utf-8"></script>
        <script src="https://cdn.bootcss.com/echarts/3.3.2/extension/bmap.min.js" type="text/javascript"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

        <![endif]-->
    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <fieldset class="layui-elem-field">
            <legend>基线检查</legend>
            <div class="layui-field-box" style="height: 2500px;overflow:hidden;">
                <div id="main" style="width: 100%;height:400px;"></div>
                <table class="layui-table">
                    <tbody id="tbody-add">
                        <tr>
                            <th>xxx版本</th>
                            <td>1.0.180420</td></tr>
                        <tr>
                            <th>服务器地址</th>
                            <td>x.xuebingsi.com</td></tr>
                        <tr>
                            <th>操作系统</th>
                            <td>WINNT</td></tr>
                        <tr>
                            <th>运行环境</th>
                            <td>Apache/2.4.23 (Win32) OpenSSL/1.0.2j mod_fcgid/2.3.9</td></tr>

                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    </body>
    <style>
        th{
            color: rgb(0, 150, 136);
            width: 200px;
        }

    </style>

    <script>
        //获取传递的id
        let id = "[[${#request.getParameter('id')}]]";
        $(function () {
            //获取数据列表
            $.ajax({
                type: "post",
                url: "/scanData/scanDetail",
                data: {id:id},
                dataType: "json",
                success: function (data) {
                    if (data.code === 200) {
                        //将详情转换成标准的json格式
                        let strData = data.data.data;
                        strData = strData.replace(/'/g,"\"");
                        let jsonData = jQuery.parseJSON(strData);
                        //清空对象
                        $("#tbody-add").empty();
                        var i;
                        var j=0;
                        var style;

                        //遍历json对象
                        for (i=1; i < jsonData.length; i++){
                            if (jsonData[i][7]=="不合规"){
                                style = 'style ="color:red"';
                                j++;
                            }else {
                                style = "";
                            }

                            let tr = '<tr><th>策略编号</th><th>策略名称（中文）</th><th>策略名称（英文）</th><th>参数名</th></tr>' +
                                '<tr '+style+'><td style="width: 25%;">'+
                                jsonData[i][0]+'</td><td style="width: 25%;">' +
                                jsonData[i][1]+'</td><td style="width: 25%;">' +
                                jsonData[i][2]+'</td><td>' +
                                jsonData[i][3]+'</td></tr>' +
                                '<tr><th>建议值说明</th><th>建议值</th><th>检测值</th><th>检测结果</th></tr>' +
                                '<tr><td>'+jsonData[i][4]+'</td><td>' +
                                jsonData[i][5]+'</td><td>' +
                                jsonData[i][6]+'</td><td>' +
                                jsonData[i][7]+'</td></tr>' +
                                '<tr><th colspan="4">加固提示</th></tr>' +
                                '<tr><td colspan="4">'+jsonData[i][8]+'</td></tr>' +
                                '<tr><th colspan="4">策略说明</th></tr>' +
                                '<tr><td colspan="4">'+jsonData[i][9]+'</td></tr><tr><td colspan="4"></td></tr>';

                            // 添加对象<td></td>
                            $("#tbody-add").append(tr);
                        }
                        $(".layui-table").before('<h3>共检测'+(i-1)+'项</h3>');
                        $(".layui-table").before('<h3>有'+j+'个不合规项</h3>');


                        var myChart = echarts.init(document.getElementById('main'));

                        // 指定图表的配置项和数据
                        option = {
                            //backgroundColor: '#2c343c',
                            backgroundColor: '#eeeeee',

                            title: {
                                text: '基线检查结果统计饼图',
                                left: 'center',
                                top: 20,
                                textStyle: {
                                    color: '#000'
                                }
                            },

                            tooltip : {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },

                            visualMap: {
                                show: false,
                                min: 80,
                                max: 600,
                                inRange: {
                                    colorLightness: [0.3, 0.7]
                                }
                            },
                            series : [
                                {
                                    name:'检测结果',
                                    type:'pie',
                                    radius : '55%',
                                    center: ['50%', '50%'],
                                    data:[
                                        {value:j, name:'不合规项'},
                                        {value:i-j-1, name:'合规项'}
                                    ].sort(function (a, b) { return a.value - b.value}),

                                    label: {
                                        normal: {
                                            textStyle: {
                                                color: 'rgba(255, 255, 255, 0.3)'
                                            }
                                        }
                                    },
                                    labelLine: {
                                        normal: {
                                            lineStyle: {
                                                color: 'rgba(255, 255, 255, 0.3)'
                                            },
                                            smooth: 0.2,
                                            length: 10,
                                            length2: 20
                                        }
                                    },
                                    color: ['#3F9BE4','#E53146'],
                                    itemStyle: {
                                        normal: {
                                            shadowBlur: 200,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);

                        var maxlength = $("#tbody-add").height();
                        $(".layui-field-box").css("max-height",maxlength+500+"px");

                    }
                }
            })
        })







        //自动增长
        $(window).scroll(function () {
            var srollPos = $(window).scrollTop()+10;    //滚动条距顶部距离(页面超出窗口的高度)
            if (srollPos>=$(document).height()-$(window).height()) {
                h = $(".layui-field-box").height();
                h += 600;
                $(".layui-field-box").height(h+"px");

            }
        });

    </script>
</html>