@charset "utf-8";
.container {
	background-color: rgba(6,26,95,1.00);
}

.footer {
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 18.13%,rgba(31,24,32,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 18.13%,rgba(31,24,32,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 18.13%,rgba(31,24,32,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 18.13%,rgba(31,24,32,1.00) 100%);
	border: 0px;
	color: rgba(0,0,0,1.00);
}

.left-nav {
	background-image: url(/images/snow.gif), -webkit-linear-gradient(270deg,rgba(6,26,95,1.00) 0%,rgba(74,83,115,1.00) 75.65%,rgba(255,255,255,1.00) 100%);
	background-image: url(/images/snow.gif), -moz-linear-gradient(270deg,rgba(6,26,95,1.00) 0%,rgba(74,83,115,1.00) 75.65%,rgba(255,255,255,1.00) 100%);
	background-image: url(/images/snow.gif), -o-linear-gradient(270deg,rgba(6,26,95,1.00) 0%,rgba(74,83,115,1.00) 75.65%,rgba(255,255,255,1.00) 100%);
	background-image: url(/images/snow.gif), linear-gradient(180deg,rgba(6,26,95,1.00) 0%,rgba(74,83,115,1.00) 75.65%,rgba(255,255,255,1.00) 100%);
}

.left-nav a {
	color: rgba(249,249,249,1.00);
	font-weight: 400;
}

.layui-tab.tab .layui-tab-title {
	background-color: rgba(6,26,95,1.00);
	color: rgba(242,242,242,1.00);
	font-weight: 400;
}
